main {
    background-color: rgb(255, 256, 256, 0.8);
    max-width: 400px;
    margin: 5em auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1em;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.2em;
}

input[type="submit"] {
    padding: 0.7em;
    font-size: 1em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.link {
    text-align: center;
    margin-top: 1em;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.message {
    color: red;
    text-align: center;
    margin-top: 1em;
}

.tip {
    color: red;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px;
    margin-top: 4px;
}

.show {
    opacity: 1;
}